<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/media/css/style.css" />
    <title> {% block title %} Mon blog sur SBMarket {% endblock %}</title>
</head>
<body>
    <header>Swag bijou Market</header>
        <nav>
            {% block nav %}
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
            {% endblock %}
        </nav>
        <section id="content">
            {% block content %}{% endblock %}
        </section>
    <footer>&copy; SwagBijouMarket</footer>
</body>
</html>